
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Margarine&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
 
 *{
    margin: 0;
    padding: 0; 
    box-shadow: border-box; 
    
 }
 /* ............font family.........*/
 :root{
    --ff-primary:"Roboto", sans-serif;
    --ff-secondary:"Inter", sans-serif;
    --ff-design:"satisfy", cursive;
    --ff-brand:"Margarine", sans-serif;

 }
 
 /* ............ colors.........*/
 :root{
    --clr-white: #fff;
    --clr-black:#333;
    --clr-grey-1:#102a42;
    --clr-grey-2:#617d98;
    --clr-grey-3:#f1f5f8;
    --clr-primary:#f53b57;
    --clr-primary-light:#f04660;
    --clr-secondary:#e9b949;



    --transition:all 0.3s linear;

 }
 body{
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: var(--clr-white);
    line-height: 1.5;
 }
 a{
    text-decoration: none;
 }
 .html{
   scroll-behavior: smooth;
 }
 .img{
    width: 100%;
    display: block;
 }
 h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
 }
 h1{
    font-size: 3rem;
 }
 h2{
    font-size: 2rem;
 }
 h3{
    font-size: 1.5rem;
 }
 h4{
    font-size: 0.87rem;
 }
 p{
    margin-bottom: 1.75rem;
 }
/*.........................*/
.btn{
   background-color: var(--clr-primary);
   color: var(--clr-white);
   padding: 0.37rem 0.75rem;
   letter-spacing: 0.5px;
   display: inline-block;
   font-weight: 400;
   transition: var(--transition);
   font-size: 0.875rem;
   border: none;
   cursor: pointer;
   box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.btn:hover{
   background-color: var(--clr-primary-light);
}
.clearfix::after,
.clearfix::before{
   content: "";
   clear: both;
   display: table;
}

.section-center{
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}
.section-title h3{
   font-family: var(--ff-design);
   color: var(--clr-primary);
   font-size: 2rem;
}
.section-title{
   margin-bottom: 2rem;
}
@media screen and (min-width:992px) {
   .section-center{
      width: 95%;
      padding: 4rem 1rem;
   }
      
   }


 
 /* nav-bar  */
 .nav-btn svg{
    fill: var(--clr-primary);
    position: fixed;
    top: 5%;
    left: 5%;
    cursor: pointer;
    z-index: 1;
 }
 .navbar{
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: var(--transition);
    z-index: 3;
    

 }
 .overlay{
   position: fixed;  
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
  
   display: none;
 }
 #nav-check:checked ~.overlay{
   display: block;
 }
 .navbar h3{
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: transparent;
   background-image: linear-gradient(180deg,var(--clr-primary) 25%,var(--clr-secondary));
   background-clip: text;
   margin-bottom: -1rem;
 }
 .navbar img{
    width: 100px;
    margin:  0  35%;
    max-width: 25%;
   
    

 }
 .navbar-header{
    position: relative;
 }
 .nav-close {
    position: absolute;
    right: 0;
    top: 5px;
 }
 .nav-close svg{
    cursor: pointer;
    fill: var(--clr-black);
 }
 .nav-close:hover svg{
   fill: var(--clr-white);
   transition: var(--transition);

 }
 .nav-items{
   list-style-type: none;
    

 }
 .nav-link{
   display: block;
   color: var(--clr-white);
   text-transform: uppercase;
   font-size: 1.2rem;
   padding: 0.75rem 1rem ;
   letter-spacing: 0.5px;
   transition: var(--transition);
 }
 .nav-link:hover{
   background-color: var(--clr-primary-light);
   padding-left: 1.5rem;
   border-left: 0.5rem solid var(--clr-secondary);
 }
 @media screen and (min-width: 768px){
   .navbar{
      width: 35%;
      max-width: 25rem;
   }
 }
 #nav-check{
   display: none;
   z-index: 100;
 }
 #nav-check:checked ~ .navbar{
   transform: translateX(0);
 }
 .nav-btn:hover .navbar{
   transform: translateX(-100%);
 }
 /* bannar */
 .header{
   min-height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url( "../image/background.jbg.jpg") center/cover no-repeat fixed ;
   position: relative;
   
 
   
 }
 .banner{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }
 .banner h2{
   font-family: var(--ff-design);
   color: transparent;
   background-image: linear-gradient(180deg,var(--clr-primary), var(--clr-secondary));
   background-clip: text;

 }
 .banner h1{
   font-family: var(--ff-brand);
   color: var(--clr-white);
   margin-top: 1.25rem;
   margin-bottom: 2rem;
   font-weight: 400;
   text-shadow: 2px 5px 5px var(--clr-primary) ;
   animation:animation 1s infinite ;

 }
 @keyframes animation{
   0%,
   100%{
      text-shadow: 0 -5px 10px rgba(265,69, 0, 0.6), 0 -5px 20px rgba(255,69,0,0.6),0 -5px 30px rgba(255,69,0,0.2),0 -5px 40px rgba(255, 69, 0 ,0.1);

   }
   25%{
      text-shadow: 0 -5px 15px rgba(265,69, 0, 0.8), 0 -5px 20px rgba(255,69,0,0.4),0 -5px 45px rgba(255,69,0,0.2),0 -5px 40px rgba(255, 69, 0 ,0.1);
   }
   50%{
      text-shadow: 0 -5px 20px rgba(265,69, 0, 0.8), 0 -5px 20px rgba(255,69,0,0.4),0 -5px 60px rgba(255,69,0,0.2),0 -5px 40px rgba(255, 69, 0 ,0.1);
   }
   75%{
      text-shadow: 0 -5px 15px rgba(265,69, 0, 0.8), 0 -5px 20px rgba(255,69,0,0.4),0 -5px 45px rgba(255,69,0,0.2),0 -5px 40px rgba(255, 69, 0 ,0.1);
   }
 }
 .banner-btn{
   font-size: 1rem;
   padding: 0.75rem 2rem;
   border-radius: 1000px;
   background-image: linear-gradient(180deg, var(--clr-primary) 80%, var(--clr-secondary));
 }
 .banner-btn:hover{
   outline: 0.125rem solid var(--clr-primary);
   outline-offset: 0.25rem;
 }
 .content{
   height: 0.5rem;
   background-image: linear-gradient(to left,var(--clr-primary), var(--clr-secondary),var(--clr-primary));
 }
 

 /*--------features-------*/
 .features{
   cursor: pointer;
   background-color: var(--clr-grey-3);
 
 }
 .feature{
   padding: 2.5rem 0;
   text-align: center;
   transition: var(--transition);

 }
 .feature-icon svg{
   transition: var(--transition);
    

 }
 .feature-title{
   text-transform: uppercase;
 }
 .feature-text{
   color: var(--clr-grey-2);
   max-width: 17rem;
   margin: 0 auto;
 }
 .feature:hover{
   background-color: var(--clr-white);
   box-shadow: 0 2px var(--clr-primary);
 }
 .feature:hover .feature-title{
   color: var(--clr-primary);
 }
 .feature:hover .feature-icon svg{
   transform: translateY(-5px);
   fill: var(--clr-primary);
 }
 

 @media screen and (min-width:576px){
   .feature{
      width: 50%;
      float: left;
      
   }
}
 @media screen and (min-width:1200px){
   .feature{
      width: 25%;
     background: none;
   }
 }
 /*-------about--------*/
.about-img,.about-info{
    padding: 2rem 0;
}
.about-picture-container{
   max-width: 30rem;
   border-radius: 5px;
    
}
 
 
.about-text{
   max-width: 26rem;
   color: var(--clr-grey-2);
}
@media screen and (min-width:992px){
   .about-img,
   .about-info{
      float: left;
      width: 42%;
     
      
      
       
   }
 
   .about-img{
      width: 43%;
      margin-left: 10rem;
     
    
      
   }

   
}
 /*------product--------*/
 
.product .product-info{
   padding: 2rem 0;
}
.product-title{
  font-size: 1,02rem;
}
.product-text{
   color: var(--clr-grey-2);
   max-width: 26rem;
}
.product-price{
   color: var(--clr-primary);
   font-size: 1.01rem;
}
.product-img{
  width: 300px;
   border-radius: 3px;
   object-fit: contain;
   box-shadow: 0px 6px 3px rgba(0,0,0,0.2);
   transition: var(--transition);
   margin: 1rem 0;
}
.product-img:hover{
   box-shadow: 0px 6px 3px rgba(0,0,0,0.2);
   transform: translateX(-2px);
}
@media screen and (min-width:1100px){
   .product{
      float: left;
      padding-right:2rem ;
     
   }
   .product-inventory{
      float: left;
      width: 25%;
      display: flex;
      flex-direction:  row;
   }
}
 
 


@media screen and (min-width:1200px){
   .product-info{
         float: left;
         width: 20%;
      
        
   }
   .product-inventory{
      float: left;
      width: 50%;
      display: flex;
      flex-direction: row;
       
      
   }
   .product{
      margin: 0;
      padding: 0 1rem;
   }
   
}
/*-------scroll-bor------*/
body::-webkit-scrollbar{
   width: 10px;
 
}
body::-webkit-scrollbar-thumb{
   background-color: linear-gradient(var(--clr-primary),var(--clr-secondary));
   border-radius: 5px;
    
}
 
 /*---------service-------*/
 .service-img{
   width: 350px;
   height: 15rem;
   object-fit:  cover;
   border-top-left-radius: 5px;
   border-top-left-radius: 5px;
 
   
 }
 .services-title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -4rem;
   
 }
 .service-card{
   margin: 2rem 0;
   background: var(--clr-grey-3);
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   cursor: pointer;
   transition: var(--transition);
  max-width: 22rem; 
  
   
 }
 .service-card:hover{
   transform: translateY(-2px);
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
 }
 .service-info{
     text-align: center;
     padding: 3rem 1rem 2.5rem 1rem;
 }
 .service-info p{
   max-width: 23rem;
   margin: 0 auto;
   color: var(--clr-grey-2);
 }
 .service-butten{
   font-size: 0.75rem;
   text-transform: capitalize;
   padding: 0.4rem 0.8rem;
   border-radius: 3px;
   font-weight: 400;
   margin-top: 1.25rem;
 }
 .service-icon{
   position: absolute;
   height: 50px;
   width: 50px;
   padding: 0.1rem 0.2rem;
   border-radius: 100%;
   left: 50%;
   bottom: 0;
   background-color: var(--clr-primary);
   transform: translate(-50%, 50%);
   display: grid;
   place-items: center;
   border: 0.37rem solid var(--clr-grey-3);


 }
 .service-icon svg{
   fill: var(--clr-white);
   width: 30px;
   height: 30px;
 }
 .service-img-container{
   position: relative;
 }

 
 @media screen and (min-width:768px){
   .service-card{
      width: 65%;
      float: left;
      margin-right: 2%;
   }
 }
 @media screen and (min-width:992px){
   .service-card{
      width: 45%;
      float: left;
      margin-right: 5.33%;
   }
 }
 @media screen and (min-width:1200px){
   .service-card{
      width: 29%;
      float: left;
      margin-right: 4.33%;
   }
 }


 /*--------contact--------*/






 /*--------Contact Us--------*/
 .contact{
   background-color: var(--clr-grey-3);
   

 }
 .contact-form,
 .contact-info{
   margin: 1rem;
   
 }
 .contact-title{
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight:500 ;
   margin-bottom: -0.05rem;
 }
 .contact-text{
   color: var(--clr-grey-2);
 }
 .contact-text svg{
   fill: var(--clr-grey-1);

 }
 .contact-item{
   margin-bottom: 1.25rem;
 }
 .contaxct-form{
   background-color: var(--clr-white);
   padding: 1.3rem;
   max-width: 35rem;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   border-radius: 5px;
 }
 .contact-form h3{
   font-family: var(--ff-design);
   color: var(--clr-primary);
   font-size: 1.75rem;
   text-align: center;
 }
 .form-group{
   height: 35px;
   margin-bottom: 20px;
   position: relative;
 }
 .form-control{
   width: 100%;
   height: 100%;
   background: none;
   border: 1px solid var(--clr-grey-2);
   outline: none;
   border-radius: 3px;
   resize: none;
   font-family: var(--ff-secondary);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
 }
 textarea.form-control{
   height: 100px;
 }
 .form-label{
   position: absolute;
   left: 7px;
   top: 7px;
   color: var(--clr-grey-2);
   padding: 0 2px;
   font-size: 14px;
   transition: var(--transition);
 }
 .form-contact:focus ~.form-label{
   top:-10;
   color: var(--clr-primary);
   z-index: 10;
 }
 .form-control:focus{
   border: 1px solid var(--clr-primary);
 }
 .form-control:not(:focus):valid + label{
   top: -10px;
   z-index: 10;
 }
 .subnit-btn{
   padding: 0.7rem 1rem;
   margin-top: 3.5rem;
 }
 @media screen and (min-width:992px){
   .contact-form,
   .contact-info{
      float: left;
      width: 80%;
      margin-right: 1.33%;
   }
   .contact-form{
      display: flex;
      flex-direction: column;
      float: left;
      position: relative;
      left: 20rem;
      bottom: 15rem;
      transform: translate(-20rem -15rem );
      
   }
     
 } 

 /*-------------------------------FOOTER------------------------------------------*/
 .footer{
   background-color: var(--clr-black);
   text-align:   center;
    
 }
 .social-icon img{
   height: 32px;
   width: 32px;
   fill: var(--clr-white);
   margin-right: 1rem;
   transition: var(--transition);
 }
 .social-icon:hover img{
   fill: var(--clr-primary);
 }
.footer-text{
     color: var(--clr-primary);
     margin-top: 1.25rem;
     text-transform: capitalize;
     font-weight: 400;

 }
 .company{
   color: var(--clr-primary);
 }
 